# deployment_api/requirements.txt
django>=4.0
djangorestframework
gunicorn                 
mlflow>=2.0.0
mlflow-skinny            
scikit-learn>=1.0.0      
pandas
numpy
tensorflow==2.14.0      
xgboost==1.7.6